::before,
::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding:0;
}
h1{
    font-family: "Big Shoulders Display", cursive;
}
h2{
    font-family: "Big Shoulders Display", cursive;
}
h3{
    font-family: "Big Shoulders Display", cursive;
}
h4{
    font-family: "Big Shoulders Display", cursive;
}

p{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
}
a{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
}

.arrow-button {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;  
    z-index: 999; 
  }
  
  .color-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 66.67%;
    height: 100%;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .color-bar:hover{
    background-color: #D5966C;
  }
  
  .arrow-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 33.33%;
    height: 100%;
    background-image: url(./icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-color: #D5966C;
  }

  .location-arrow-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 33.33%;
    height: 100%;
    background-image: url(./icon-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-color: #D5966C;
  }

  .arrow-icon:hover {
    background-color: #151515;
  }
  

header{
    display: flex;   
    margin-bottom: 1rem;     
}

header > *{
    flex: 1;
}
.hero{   
    width: 20rem;   
}
.header-content{
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    justify-content: center;
    align-items: left;   
}

.hero-text{
    display: none;
}

.mobile{
    display: none;
}
.desktop{
    display: none;
}

main{
    display: flex;
    flex-direction: column;    
      
}

main > *{
    flex: 1;
}
.gallery-top{
    display: flex;  
    align-items: center;
    justify-content: center;
   
}
.gallery-content{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 2rem;  
    width: 25rem;    
}
.gallery-content h2{
    font-size: 3em;
}
.gallery{    
    margin: 1rem;
    max-width: fit-content;
}

.gallery-text{
    max-width: 10rem;
    background-color: black;   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 2rem;
    padding: 2rem
}

.gallery-text h3{
    color: #fff;
    font-size: 2em;
}

.gallery-text p{
    color: #fff;
}

.gallery-bottom{
    display: flex;
   margin: 2rem;   
}
.gallery-bottom > *{
    flex: 1;
}
.left-image{ 
  max-width: fit-content;
}
.bench{
    max-width: 100%;
    
}

.right-side{
    display: flex;
    flex-direction: column;
    position: relative;       
    margin: 1rem;
    align-items: center;   
    width: fit-content;     
}
.little-image{   
   max-width: 14rem; 
    
}
.gallery-image{
    max-width: 100%;
}

.icons{
    height: 1rem;
    width: 1rem;   
}

.icons:hover{
    background-color: #D5966C;
}

footer{
    display: flex;
    bottom: 0;
    background-color: #151515;
    color: white; 
    align-items: center;
    justify-content: space-evenly ;
    padding: 1rem;
}
footer > * {
    flex: 1;
}

footer h4{
    font-size: 2em;
}

.footer-text{
    max-width: 15rem;
}


/* location section */
.location-content{
    display: flex;
    flex-direction: row; 
    padding: 2rem; 
    background-color: #151515 ; 
    
}

.location-footer{
    display: flex;
    bottom: 0;
    background-color: #D5966C;
    color: white; 
    align-items: center;
    justify-content: space-evenly ; 
   padding: 1rem;
}

.location-footer h3{
    font-size: 1.5em;
    color: black;
}

.location-footer-text{
    max-width: 30rem;
    padding: 1.5rem;
    color: black;
}

.footer-icons{
    height: 1rem;
    width: 1rem;   
}

.icon-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.location-heading{
    color: #fff;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.address-content h2{
    color: #D5966C;
    padding-bottom: 1rem;
}
.address-content p{
    color: #bcbaba;
}
.address{
    padding-bottom: 1rem;
}

.about{
    padding-bottom: 1rem;
}

#map{
    height: 20rem;
    z-index: 1;
}





/* media queries */

@media screen and (max-width: 420px){
    header{
        display: flex;  
        flex-direction: column; 
        margin-bottom: 1rem;
         
    }
    .tablet{
        display: none;
    }

    .mobile{
        display: block;
        width: 100%;
    }


    .hero{
        align-items: center;
    }

    .gallery-top{
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .gallery-bottom{
        display: flex;
        flex-direction: column;       
    }

    .gallery-content{
        display: flex;
        flex-direction: column;
        
    }

    .gallery-content h2{
      text-align: center;
        
    }

    footer{
        display: flex;
        flex-direction: column;
        
    }
}


@media screen and (max-width:768px){
    header{
        display: flex;  
        flex-direction: column; 
        margin-bottom: 1rem;
      
        align-items: center;    
    }

    .hero{   
        width: auto;           
    }

   


    .gallery-top{
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .gallery-bottom{
        display: flex;
        flex-direction: column;     
        align-items: center;
        justify-content: center;  
    }

    footer{
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (min-width: 1080px){
    header{
        display: flex;   
        margin-bottom: 1rem; 
        
    }

    .tablet{
        display: none;
    }

    .desktop{
        display: block;
    }

    
    header > *{
        flex: 1;
    }
    .hero{  
        position: relative;
        display: flex;    
        background-color: black; 
        justify-content: flex-end; 
        align-items: center;
        
    }

    .hero h1{
        position: relative;
        left:6rem;
        font-size: 3em;
    }
    .hero-text{
        display: flex;
        flex-direction: column;
        color: white;
     
    }

    .hero-text h1 {
        background: -webkit-linear-gradient(white, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .header-content{
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        justify-content: center;
        align-items: left;
        position: relative;
        right: 4rem; 
        
    }

    .header-content h2 {
        display: none;
    }

    .header-content p{
      margin-bottom: 5rem;
      text-align: center;
    }
  
    .gallery-content h2{
        font-size: 3em;
    }
    .gallery{    
        max-width: fit-content;
    }
    
    .gallery-text{
       margin: 2rem; 
        padding: 5rem;        
    }
    
    .gallery-text h3{        
        font-size: 4em;
    }
    
   
    .gallery-bottom > *{
        flex: 1;
    }
    .left-image{   
      max-width: fit-content;
    }   
 
    .little-image{   
       max-width: 100%; 
        
    }
    .gallery-image{
        max-width: 100%;
    }
    .little-image{
        margin: 2rem;
    }  
    
    

    .location-content{
        display: flex;
        flex-direction: row; 
        padding: 2rem; 
        background-color: #151515 ;
        height: 30rem;
        
    }
    
    .location-footer{
        display: flex;
        bottom: 0;
        background-color: #D5966C;
        color: white; 
        align-items: center;
        justify-content: space-evenly ; 
        padding: 1rem;
       
    }
    
    .location-footer h3{
        font-size: 1.5em;
        color: black;
    }
    
    .location-footer-text{
        max-width: 30rem;
        padding: 1.5rem;
        color: black;
    }
    
    .footer-icons{
        height: 1rem;
        width: 1rem;   
    }
    
    .icon-wrapper{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
    
    .location-heading{
        color: #fff;
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }
    
    .address-content h2{
        color: #D5966C;
        padding-bottom: 1rem;
    }
    .address-content p{
        color: #bcbaba;
    }
    .address{
        padding-bottom: 1rem;
    }
    
    .about{
        padding-bottom: 1rem;
    }
    
    #map{
        height: 30rem;
        z-index: 1;
    }
  
}